mini_mircal_10000/data/doc_embeddings.json filter=lfs diff=lfs merge=lfs -text
mini_mircal_100_000/data/doc_embeddings.json filter=lfs diff=lfs merge=lfs -text
mini_mircal_50000/data/doc_embeddings.json filter=lfs diff=lfs merge=lfs -text
